<h1>{{ emailTitle }}</h1>

<p>Covid-19 vaccinations are underway in Baltimore’s Assisted Living Facilities. The Baltimore City Health Department’s Division on Aging is sending out a survey to licensed Assisted Living Facilities to find out your facilities status for vaccinations. The Federal Pharmacy Partnership has been to many sites, and now the Baltimore City Health Department is getting to sites that have not been reached or may need additional vaccines. As we work to protect the City’s most vulnerable we need your help.</p> 

<p>Your participation in this survey is optional, but we are urging you to complete this survey so that we have an understanding of where vaccines have been and where they need to go. All responses will be kept confidential within the Baltimore City Health Department.</p>

<p>If you have any questions or need more information about vaccines, please note that in the comments section and someone from our team will be in touch.</p>

<p>Thank you in advance for your participation in this survey.</p>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
      <td>
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td style="border-radius: 2px;" bgcolor="#ED2939">
                      <a href="{{ entityLink }}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Check In            
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>