{{ emailTitle }}

As the Baltimore City Health Department continues to work to bring Covid-19 vaccines to all Baltimore City residents, getting these vaccines to all assisted living facility staff and residents who want them is an important part in protecting our city. Back in March we began bringing mobile vaccines to all assisted living facilities in Baltimore who needed the assistance. Currently, 50% of all residents in assisted living facilities are vaccinated. This is great news, but there is still work to be done.

With pharmacy partners, we want to bring vaccines to the sites that still have a need. The link below is a survey to help you identify who needs and wants a vaccine, and helps us prepare your site for a visit from the pharmacy. When the pharmacy is on site, anyone interested in a vaccine can receive one on that day. This includes but is not limited to residents, staff, families, friends, and even neighbors.

Please complete the survey below and someone from our team will be in touch with you within the week to schedule the pharmacy’s visit.

Any questions, please call the Baltimore City Health Department’s Long Term Care Ombudsman team at 410-396-3144.

{{ entityLink }}