<h1>Reset Your Password</h1>

<p>Need to reset your password? No Problem! Just click the button below and you'll be on your way. If you did not make this request, please ignore this email.</p>

<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
      <td>
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td style="border-radius: 2px;" bgcolor="#ED2939">
                      <a href="{{ emailResetLink }}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                          Reset Your Password             
                      </a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>